/* הגדרות כלליות + זהה לכמה איזורים */
*{
    padding: 0;
    margin: 0;
}

body{
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

a:not(.a-nav, .icon > a), button:not(#dropdownBtn){
    background-color: #1AE0EC;
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
    text-decoration: none;
    transition: box-shadow 1s;
    cursor: pointer;
}

a:hover:not(.a-nav), button:not(#dropdownBtn):hover{
    box-shadow: 0 0 15px #1AE0EC;
} 



/* ------תפריט עליון ------- */


.upper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 3px solid #1AE0EC;
    padding: 10px 0;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 30px black;
}

.upper-nav_text{
    margin-right: 5%;
}

.nav-page{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}


.nav-page > a, #dropdownBtn{
    font-size: 25px;
    color: black;
    display: inline-block;
    text-decoration: none;
    transition: transform 1s;
}

.nav-page > a:active, .nav-page > a:visited{
    color: black;
    text-decoration: none;
}


.nav-page > a:hover, #dropdownBtn:hover{
    color: #1AE0EC;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.2);
}

.upper-nav_logo{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    margin-left: 5%;
}

#profile_img{
    width: 62px;
    height: 62px;
    transition: transform 1.5s;
}

#profile_img:hover{
    transform: rotate(360deg);
}

input[type='checkbox'], #lab, #lab_x{
    display: none;
}

#dropdownContent{
    flex-direction: column;
    display: none;
    position: absolute;
}

#dropdownCotent > a{
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


#dropdownContent > a:visited{
    color: purple;
    text-decoration: none;
}

#dropdownBtn{
    border: none;
    background-color: inherit;
    cursor: pointer;
}




/* כותרת + איזור על עצמי */

.title-area{
    background-image: url('../images/header-background.png') ;
    text-align: center;
    position: relative;
    padding: 110px;
    direction: rtl;
}

.title-area> h1{
    font-size: 80px;
    margin-bottom: 20px;
    position: relative;
}

.title-area > p{
    font-size: 20px;
    position: relative;
}

.bg-overly{
    background-color: #1AE0EC;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
}

.bg-img_nav{
    display: flex;
    justify-content:center;
    box-shadow: 0 3px 6px #00000029;
}

.img-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-nav > img{
    width: 80px;
    height: 80px;
    transition: width 1s, height 1s;
}

#div-about_me{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3A3A3A;
    padding-top: 110px;
}

#div-about_me > h1{
    font-size: 35px;
    font-weight: 900;
}

#div-about_me > p{
    font-size: 20px;
    width: 60%;
}

#div-about_me > img{
    width: 110px; 
    height: 110px;
    transition: transform 1.5s;
}

#div-about_me > img:hover{
    transform: scale(1.2, 1.2);
}

/* ------גלריה ------ */


main{
    font-family: 'Heebo', sans-serif;
    color: #3A3A3A;

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 110px;
}

.card{
    width: 30%;
    height: auto;
    height: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 30px #00000029 ;
    border-radius: 10px;
    transition: box-shdow 2s;
    background-color: white;
}

.card:hover{
    box-shadow: 3px 3px 15px #0000009a;
}

.card > img{
    width: 100%;
    height: 250px;
}

.card > form > h2{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

.card > form > p{
    font-size: 18px;
}

.images_project{
    display: flex;
    margin-bottom: 20px;
}

.images_project > img{
    width: 60px;
    height: 60px;
}

.card > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}





/* ---------- צור קשר ------------ */


       
#content-us{
    background-color: #3A3A3A;
    direction: rtl;
    padding: 5%;
    position: relative;
}

#container-content{
    width: fit-content;
    color: white;
    font-family: 'Heebo', sans-serif;
}

#content-us > img{
    width: 550px;
    height:500px;
    position: absolute;
    left: 20px;
    top:0;
}

#open-envelope{
    display: none;
}

#close-envelope:hover{
    display: none;
}

#close-envelope:hover ~ #open-envelope{
    display: inline;
}

#container-content  > h2{
    font-size: 36px;
    font-weight: 900;
}

#container-content > p{
    font-size: 20px;
    max-width: 600px;
    margin-bottom: 40px;
}

#container-content > #label{
    font-size: 16px;
    font-weight: bold;
    display: block;
}


#container-content > input{
    width: 600px;
    height: 55px;
    border: none;
    border-bottom: 4px solid #1AE0EC;
    margin-bottom: 20px;
    display: block;
}


/* ------ תפריט תחתון ------- */

.bg-buttom-nav{
    display: flex;
    justify-content: center;
    background-color: #1AE0EC;
    padding: 40px;
}

.buttom-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 65px;
}

.buttom-nav > .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    gap:10px;
}

.icon > a{
    text-decoration: none;
    color: black;
}

.icon > img{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
}


.rights{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    align-items: center;
    border-bottom: 6px solid #1AE0EC;
    box-sizing: border-box;
}

.rights > span{
    color: #1AE0EC;
    font-size: 20px;
    height: fit-content;
}






/* -----------מדיה סקרין --------- */



@media screen and (max-width: 1200px) {

    /* ----על עצמי ---- */

    #div-about_me > p{
        width: 100%;
    }


    /* ---גלריה---- */

    .card{
        width: 48%;
    }  
    .card > form > h2{
        font-size: 23px;
        font-weight: 500;
    }
    .card > form > p{
        font-size: 16px;
        font-weight: 400;
    }
    .card > form > a{
        font-weight: 500;
        padding: 5px 8px;
    }
    

    /* ----- צור קשר------ */

    #container-content > input{
        width: 500px;
        height: 50px;
    }

    #container-content > p{
        max-width: 500px;
    }

    #content-us > img{
        width: 430px;
        height: 400px;
    }
}






@media screen and (max-width: 992px) {

    /* ------תפריט עליון ------*/


    #name_profile{
        display: none;
    }

    #profile_img{
        width: 45px;
        height: 45px;
    }

    .nav-page{
        display: none;
        gap: 10px;
    }

    #lab{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    #lab_x{
        font-size: 30px;
        cursor: pointer;
    }

    input[type='checkbox']:checked ~ #lab_x{
        display: block;
        color: #1AE0EC;

    }
    
    input[type='checkbox']:checked ~ #lab{
        display: none;
    }

    input[type='checkbox']:checked ~ .nav-page{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .upper-nav, .upper-nav_logo{
        align-items: normal;
    }


    /* ------כותרת + איזור על עצמי-----*/

    .title-area{
        padding: 60px 30px;
        top: 0;
    }

    .title-area> h1{
        font-size: 46px;
    }

    .title-area> p{
        font-size: 15px;
    }

    #div-about_me{
        padding: 100px 50px 30px;
    }

    #div-about_me > h1{
        font-size: 25px;
    }

    #div-about_me > p{
        font-size: 15px;
    }

    #div-about_me > a{
        font-size: 10px;
    }
    
    /* ---- צור קשר ---- */
    
    #content-us{
        padding: 0;
        padding-bottom: 50px;
        padding-top: 350px;
        display: flex;
        justify-content: center;
    }

    #content-us > img{
        width: 400px;
        height: 350px;
    }



    /* ---תפריט תחתון ---*/

    .bg-buttom-nav{
        padding: 40px 20px;
    }

    .buttom-nav{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    
}

@media screen and (max-width: 600px) {

    /* ----  כותרת + על עצמי---- */

    
    .img-nav > img{
        width: 50px;
        height: 50px;
    }

    /* ---- גלריה */
    .card{
        width: 90%;
        height: 450px;
        padding-bottom: 20px;
    }

    .card > img{
        height: 200px;
    }

    form{
        padding: 0 10px;
    }


    /* ----צור קשר------ */
       
    #content-us{
        padding-top: 250px;
    }
    
    #container-content  > h2{
        font-size: 25px;
    }

    #container-content  > p{
        font-size: 15px;
        max-width: 300px;
    }

    #container-content  > label{
        font-size: 12px;
    }

    #container-content  > input{
        width: 300px;
        height: 30px;
    }

    #content-us > img{
        width: 280px;
        height: 250px;
    }


    /* ----תפריט תחתון ---- */

    .buttom-nav > .icon > span , .buttom-nav > .icon > a,  .rights > span{
        font-size: 12px;
    }
} 